* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  > main {
    background-color: #2f3c33;
    color: #fff;
    // centralizando div
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid  #2f3c33;
    border-radius: 0.8rem;
    padding-top: 4rem;
    width: 450px;
    height: 500px;

    > #homeScreen {
      > h1, h2 {
        text-align: center;
        font-size: 2rem;
      }

    }

    > #game {
      > section {
        text-align: center;
        > #guessBox {
          text-align: center;
          font-size: 1.2rem;
          margin: 1rem 0;
        }

        > #inputBox {
          text-align: center;
          height: 40px;
          width: 250px;
          background-color: #48524a;
        }
      }

      > .stats {
        padding: 0 1rem;
        .info {
          display: flex;
          justify-content: space-between;
          margin: 1.5rem 0;
        }
      }

      > #gameButton {
        margin: 0 auto;
        display: block;
        padding: .8rem 2.5rem;
        background-color: #8ace19;
        color: #fff;
      }
    }
  }
}